body{
	margin: 0;
	padding: 0;
	background-image: url(https://krot.info/uploads/posts/2020-01/1579269478_2-2.jpg);
}
.Footer{
	width: 100%;
	height: 800px;
}
.Header1{
	position: absolute;
    width: 93px;
    height: 91px;
    left: 152px;
    top: 66px;
}
.Header{
    position: absolute;
    left: 66px;
    top: 16px;
    font-family: Alfa Slab One;
    font-size: 40px;
    line-height: 66px;
    color: white;
}
.Header2{
	position: absolute;
    left: 424px;
    top: 58px;
    font-family: Alegreya Sans;
    font-size: 30px;
    line-height: 36px;
    color: white;
}
.Header3{
	position: absolute;
    left: 554px;
    top: 58px;
    font-family: Alegreya Sans;
    font-size: 30px;
    line-height: 36px;
    color: white;
}
.Header4{
	position: absolute;
    left: 724px;
    top: 58px;
    font-family: Alegreya Sans;
    font-size: 30px;
    line-height: 36px;
    color: white;
}
.Header5{
	position: absolute;
    left: 894px;
    top: 58px;
    font-family: Alegreya Sans;
    font-size: 30px;
    line-height: 36px;
    color: white;
}
.Header2:hover{
	color: aqua;
}
.Header3:hover{
	color: aqua;
}
.Header4:hover{
	color: aqua;
}
.Header5:hover{
	color: aqua;
}
.Header6{
	position: absolute;
    left: 1174px;
    top: 58px;
    font-family: Alfa Slab One;
    font-size: 30px;
    line-height: 41px;
    color: white;
}
.Head{
	position: absolute;
    width: 90px;
    height: 88px;
    left: 1084px;
    top: 32px;
}
.Head1{
	position: absolute;
	width: 965px;
    left: 87px;
    top: 204px;
    font-family: 'Russo One', sans-serif;
    font-size: 84px;
    line-height: 180px;
    color: white;
}
.Head2{
	position: absolute;
    left: 700px;
    top: 120px;
    transform: rotate(2.45deg);
}
.Hex1{
	position: absolute;
	top: 550px;
	left: 200px;
}
.Hex{
	border: 3px solid red;
    font-size: 30px;
    color: #218294;
    text-decoration: none;
    text-transform: uppercase;
    width: 250px;
    height: 60px;
    display: block;
    text-align: center;
    line-height: 60px;
    font-family: Arial, sans-serif;
    color: red;
}
.Cross{
	position: absolute;
    left: 245px;
    top: 923px;
    font-family: Pacifico;
    font-size: 96px;
    line-height: 253px;
    color: white;
}
.Line{
	height: 800px;
	width: 60%;
	display: inline-block;
	position: absolute;
	top: 1200px;
	left: 20%;
}
.Line1{
	display: inline-block;
	position: absolute;
	left: 2%;
	width: 25%;
	height: 370px;
}
.Liner{
	font-weight: bold;
	font-family: 'Russo One', sans-serif;
	color: white;
}
.Liner1{
	font-family: Alegreya Sans;
	font-size: 20px;
	color: white;
}
.Liner2{
	font-weight: bold;
	font-family: 'Russo One', sans-serif;
	position: absolute;
	top: 320px;
	color: white;
}
.Liner3{
	position: absolute;
	top: 300px;
	left: 150px;
}
.Line2{
	display: inline-block;
	position: absolute;
	left: 38%;
	width: 25%;
	height: 370px;
}
.Line3{
	display: inline-block;
	position: absolute;
	left: 73%;
	width: 25%;
	height: 370px;
}
.Line4{
	display: inline-block;
	position: absolute;
	left: 2%;
	top: 370px;
	width: 25%;
	height: 370px;
}
.Line5{
	display: inline-block;
	position: absolute;
	left: 38%;
	top: 370px;
	width: 25%;
	height: 370px;
}
.Line6{
	display: inline-block;
	position: absolute;
	left: 73%;
	top: 370px;
	width: 25%;
	height: 370px;
}
